<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>
        Sort By
          <select ng-model="selected" ng-init="selected='Rating'">
            <option ng-selected="setSort(selected)">Rating</option>
            <option ng-selected="setSort(selected)">Price</option>
          </select>
      </th>
      <th style="width:100px;">Tea</th>
      <th style="width:300px;">Info</th>
      <th>Quantity</th>
      <th><span>Cart</span>
        <span class="badge">{{Badge}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tea in teaData | orderBy:sort">
      <td><img ng-src="{{tea.imageUrl}}" alt=""></td>
      <td>
        {{tea.name}}<br>
        Caffeine: {{tea.caffeineScale}}
      </td>
      <td>Ingredients: 
        {{tea.ingredients}}<br><br>
        Categories: 
        <span ng-repeat="category in tea.categories">
        {{category}}</span> 
      </td>
      <td>
      {{tea.price | decimal | currency}}<br>
      InStock: {{tea.inStock | instock}}<br>
      Rating: {{tea.rating}}
      </td>
      <td>
        <select ng-model="selected" ng-init="selected='1'">
          <option ng-selected="setQuantity(selected)">1</option>
          <option ng-selected="setQuantity(selected)">2</option>
          <option ng-selected="setQuantity(selected)">3</option>
          <option ng-selected="setQuantity(selected)">4</option>
        </select>
        <span class="btn btn-success btn-xs" ng-click="addItem(selected, tea)"><span class="glyphicon glyphicon-plus"><span></span>
      </td>
    </tr>
  </tbody>
</table> 

{{teaData}}